<footer class="links">
	<span><a href="/about" class="light" aria-label="about currl">About</a></span>
	<span><a href="/privacy" class="light" aria-label="Privacy policy">Privacy</a></span>
	<span><a href="/changelog" class="light" aria-label="Changelog">Changelog</a></span>
	<span><a href="/rss" class="light" aria-label="rss feeds">RSS</a></span>
	<span><a href="/sponsors" class="light" aria-label="sponsors">Sponsors</a></span>
	<span><a href="mailto:hello@currl.io" class="light" target="_blank" aria-label="support email">Email</a></span>
	<span><a href="https://twitter.com/currlio" class="light" target="_blank" aria-label="twitter link">@currlio</a></span>
	<% if (user) { %><span><a href="/logout" class="light" aria-label="log out">Log out</a><% } %></span>
</footer>
