<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Cache-control" content="public" />
	<meta
		name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
	/>
	<meta name="description" content="A free text-based bookmarking website. Collect links you love from around the web." />
	<meta name="keywords" content="bookmarking, online bookmarking, free bookmarking" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<% if(typeof csrfToken !== "undefined") { %>
	<meta name="csrf-token" content="<%= csrfToken %>" />
	<% } %>

	<!-- Icons & Theme-->
	<meta name="theme-color" content="#fff" />
	<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
	<link rel="mask-icon" href="/mask-icon.svg" color="#000" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="manifest" href="/manifest.json" />
	<link type="text/plain" rel="author" href="/humans.txt" />

	<!-- Meta data for link fetching -->
	<meta property="og:url" content="https://webtag.io" />
	<meta property="og:image" content="https://webtag.io/banner.png" />
	<meta property="og:title" content="Webtag - A free text-based bookmarking website." />
	<meta property="og:description" content="Collect links you love from around the web." />
	<title><%= title %></title>
	<!-- Site scripts & styles -->
	<link href="/style.css" rel="stylesheet" />

	<script defer src="/vue.global.prod.js"></script>
	<script defer src="/axios.min.js"></script>
	<script defer src="/script.js"></script>
	<!-- <script async defer src="https://cabin.currl.io/hello.js"></script> -->
</head>
