<footer class="small light wrap">
	<nav>
		<a href="/bookmarklet">Bookmarklet</a>
		<span class="separator">&middot;</span>
		<a href="/contact">Contact</a>
		<span class="separator">&middot;</span>
		<a href="/terms">Terms</a>
		<span class="separator">&middot;</span>
		<a href="/privacy">Privacy</a>
	</nav>
	<nav>
		<a href="https://github.com/vasanthv/webtag" target="_blank">GitHub</a>
		<span class="separator">&middot;</span>
		<a href="https://buymeacoffee.com/vasanthv" target="_blank">Buy Me a Coffee</a>
	</nav>
</footer>
<!-- INSERT_ANALYTICS_SCRIPT -->
