<footer class="small light wrap">
	<nav>
		<a href="/bookmarklet.html" target="_blank">Bookmarklet</a>
		<span class="separator">&middot;</span>
		<a href="https://github.com/vasanthv/webtag" target="_blank">Github</a>
		<span class="separator">&middot;</span>
		<a href="https://buymeacoffee.com/vasanthv" target="_blank">Support</a>
		<span class="separator">&middot;</span>
		<a href="/terms.html" target="_blank">Terms</a>
		<span class="separator">&middot;</span>
		<a href="/privacy.html" target="_blank">Privacy</a>
	</nav>
</footer>
<!-- INSERT_ANALYTICS_SCRIPT -->
