<!doctype html>
<html lang="en">
	<%- include('html-head'); -%>
	<body>
		<div id="app">
			<div class="wrap">
				<section>
					<nav>&nbsp;</nav>
					<h1 class="page-title">Webtag</h1>
					<h2>A free text-based bookmarking website.</h2>

					<h3>Features</h3>

					<ul>
						<li>Plain-text-based bookmarking. No fancy images or graphics.</li>
						<li>Tags. Organize your bookmarks with multiple tags.</li>
						<li>Private. All bookmarks are private by default.</li>
						<li>Sharing. Tag your friends (@username) to share bookmarks with them.</li>
						<li>One-click bookmarking. Save bookmarks with a single click, using our bookmarklet.</li>
						<li>Import bookmarks. Bring in all your bookmarks from other services or browsers.</li>
						<li>Export bookmarks. Not happy with us? Export all your bookmarks anytime.</li>
						<li>Works on any device with an internet connection and browser.</li>
						<li>Free unlimited bookmarks. No limits on storage.</li>
					</ul>
					<div><a href="/signup" class="bold">Create an account</a></div>
					<br />
					<div>Already have an account? <a href="/login">Log in</a></div>
				</section>
			</div>
		</div>
		<%- include('footer'); -%>
	</body>
</html>
