<!DOCTYPE html>
<html lang="en">
	<%- include('partials/html-head'); -%>
	<body>
		<div id="app" class="wrap">
			<main>
				<%- include('partials/header'); -%>
				<h2>A free text-based bookmarking website.</h2>

				<h3>Features</h3>
				<p>
					<ul>
						<li>Plain-text based bookmarking. No fancy images or graphics.</li>
						<li>Tags. Organize your bookmarks with multiple tags.</li>
						<li>Private. All bookmarks are private by default.</li>
						<li>Full-text search*. But only on readable contents of the page.</li>
						<li>Export bookmarks. Not happy with us? Export all your bookmarks anytime.</li>
						<li>Import bookmarks. Bring in all your bookmarks from other services or browsers.</li>
						<li>Works on any device with an internet connection and browser.</li>
						<li>Free unlimited bookmarks. No limits on storage.</li>
					</ul>
				</p>

				<p>
					<a href="/signup">Create an account</a>
					&nbsp;or&nbsp;
					<a href="/login">Log in</a>
				</p>

				<%- include('partials/footer'); -%>
			</main>
		</div>
	</body>
</html>
