<!doctype html>
<html lang="en">
	<%- include('html-head'); -%>
	<body>
		<div id="app">
			<div class="wrap">
				<%- include('header'); -%>
				<section>
					<h1 class="page-title">Sunsetting Webtag</h1>

					<p>Hello everyone,</p>
					<p>
						The time has come to announce that <strong>Webtag will be sunsetted on January 2nd</strong>. This was not an
						easy decision to make, but it’s the right one for me at this stage.
					</p>

					<h2>Why is Webtag being sunset?</h2>
					<p>
						First, Webtag operates in an extremely crowded bookmarking market. While bookmarking is relatively easy to
						build, many established services have the advantage of being early to the game, and Webtag arrived late to a
						highly competitive space.
					</p>
					<p>
						Second, as a solo developer, maintaining Webtag alongside my other projects has become challenging. Moving
						forward, I’ve decided to focus my time and energy on a smaller number of projects.
					</p>

					<h2>What’s next?</h2>
					<p>
						You can download all your bookmarks from Webtag anytime through the website, so make sure to do so before
						January 2nd. After this date, the service will no longer be available.
					</p>
					<p>
						There are many excellent bookmarking services available, so you can choose the one that best suits your
						needs.
					</p>
					<p>
						I’m also excited to share my new project,
						<strong><a href="https://unfeed.net" target="_blank">Unfeed</a></strong
						>, a free RSS reader for the web. Saving bookmarks is a built-in feature of Unfeed, allowing you to save
						unlimited URLs. If that sounds interesting, I’d love for you to check it out!
					</p>

					<p>Thank you for supporting Webtag, and I hope to see you in the Unfeed community!</p>

					<p>Best,<br />Vasanth</p>
				</section>
			</div>
		</div>
		<%- include('footer'); -%>
	</body>
</html>
