<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-control" content="public" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
		/>
		<meta name="description" content="A free text-based bookmarking website." />
		<meta name="keywords" content="bookmarking, free bookmarking, push notifications, web push" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<!-- Icons & Theme-->
		<meta name="theme-color" content="#f22952" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="mask-icon" href="/mask-icon.svg" color="#f22952" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.json" />

		<!-- Meta data for link fetching -->
		<meta property="og:url" content="https://webtag.io" />
		<meta property="og:image" content="https://webtag.io/banner.png" />
		<meta property="og:title" content="Webtag" />
		<meta property="og:description" content="A free text-based bookmarking website." />
		<title>Webtag - A free text-based bookmarking.</title>
		<!-- Site scripts & styles -->
		<link href="/style.css" rel="stylesheet" />

		<script defer src="/vue.global.prod.js"></script>
		<script defer src="/axios.min.js"></script>
		<script defer src="/page.js"></script>
		<script defer src="/api/csrf.js"></script>
		<script defer src="/script.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="app-containter" class="wrap" v-bind:style="'visibility:visible;'">
				<section id="toast" v-bind:class="toast.type + (toast.message ? ' show' : '')" v-on:click="toast.message = ''">
					{{toast.message}}
				</section>

				<section class="page" v-if="page === 'intro'">
					<nav>&nbsp;</nav>
					<h1 class="page-title">Webtag</h1>
					<h2>A free text-based bookmarking website.</h2>

					<h3>Features</h3>

					<ul>
						<li>Plain-text-based bookmarking. No fancy images or graphics.</li>
						<li>Tags. Organize your bookmarks with multiple tags.</li>
						<li>Private. All bookmarks are private by default.</li>
						<li>Sharing. Tag your friends (@username) to share bookmarks with them.</li>
						<li>One-click bookmarking. Save bookmarks with a single click, using our bookmarklet.</li>
						<li>Import bookmarks. Bring in all your bookmarks from other services or browsers.</li>
						<li>Export bookmarks. Not happy with us? Export all your bookmarks anytime.</li>
						<li>Works on any device with an internet connection and browser.</li>
						<li>Free unlimited bookmarks. No limits on storage.</li>
					</ul>
					<div><a href="/signup" class="bold">Create an account</a></div>
					<br />
					<div>Already have an account? <a href="/login">Log in</a></div>
				</section>

				<main v-if="page !== 'intro'">
					<nav>
						<a href="/">Home</a>
						<span class="separator">&middot;</span>
						<a href="/signup" v-if="!isloggedIn">Sign up</a>
						<a href="/tags" v-if="isloggedIn">Tags</a>
						<span class="separator">&middot;</span>
						<a href="/login" v-if="!isloggedIn">Log in</a>
						<a href="/account" v-if="isloggedIn">Account</a>
						<span class="separator" v-if="isloggedIn">&middot;</span>
						<a href="/bookmark" v-if="isloggedIn">Add bookmark</a>
					</nav>

					<section v-if="page === 'signup'">
						<h1 class="page-title">Create an account</h1>
						<label for="username">Username</label>
						<input type="text" id="username" placeholder="Username" v-model="newAccount.username" />
						<label for="email">E-mail address</label>
						<input type="email" id="email" placeholder="Email address" v-model="newAccount.email" />
						<label for="password">Password</label>
						<input
							type="password"
							id="password"
							placeholder="Password"
							v-model="newAccount.password"
							v-on:keydown.enter="signUp"
						/>
						<button class="bold" v-on:click="signUp">Sign up</button>
						<div class="small light">Already got an account? <a href="/login">Log in</a></div>
					</section>

					<section v-if="page === 'login'">
						<h1 class="page-title">Log in</h1>
						<label for="username">Username</label>
						<input type="text" id="username" placeholder="Enter your Username" v-model="authCreds.username" />

						<label for="password">Password</label>
						<input
							type="password"
							id="password"
							placeholder="Password"
							v-model="authCreds.password"
							v-on:keydown.enter="signIn"
						/>
						<button class="bold" v-on:click="signIn">Log in</button>
						<div class="small"><a href="javascript:void(0)" v-on:click="forgotPassword">Forgot password?</a></div>
						<div class="small light">Don't have an account yet? <a href="/signup">Sign up</a></div>
					</section>

					<section v-if="page === 'account'">
						<h1 class="page-title">Your account</h1>
						<label for="username">Your username</label>
						<input type="text" id="username" v-model="myAccount.username" v-bind:disabled="true" />
						<label for="email">Your e-mail address</label>
						<input type="email" id="email" placeholder="Email address" v-model="myAccount.email" />
						<label for="password">Password</label>
						<input type="password" id="password" placeholder="Enter new password" v-model="myAccount.password" />
						<label for="defaultTags">Default tags</label>
						<input
							type="text"
							id="defaultTags"
							placeholder="Enter some tags"
							v-model="myAccount.defaultTags"
							class="hasHelperText"
						/>
						<div class="small light helperText">Will be auto-added when bookmarking</div>
						<button class="bold" v-on:click="updateAccount">Update account</button>
						<br /><br />
						<button class="red" v-on:click="logOut()">Log out</button>
						<hr />
						<h3>Import bookmarks</h3>
						<p>
							You can import bookmarks from
							<a href="https://hvcc.teamdynamix.com/TDClient/1967/Portal/KB/ArticleDet?ID=144671" target="_blank">
								any browser</a
							>.
						</p>
						<div><input type="file" name="bookmarks" id="importFile" v-on:change="setImportFile" /></div>
						<label for="tags">Enter import tags</label>
						<input type="text" id="tags" placeholder="Enter tags" v-model="importFile.tags" class="hasHelperText" />
						<div class="small light helperText">
							Note: these tags will be added to all the imported bookmarks, so that you can easily distinguish them.
						</div>
						<button v-on:click="importBookmarks">Import</button>
						<hr />
						<h3>Export your bookmarks</h3>
						<p>
							You can export all your bookmarks any time here. You'll get a bookmarks file that can be imported to any
							browser.
						</p>
						<button v-on:click="exportBookmarks">Download your bookmarks</button>
						<hr />
						<h3>Experimental features</h3>
						<div class="bold">Enable push notifications</div>
						You will receive a push notification when someone tags you on their bookmark. Works only on
						<a href="https://caniuse.com/push-api" target="_blank">supported browsers</a>.<br />
						<label class="switch">
							<input type="checkbox" v-on:click="togglePush" v-bind:checked="pushSubscribed" />
							<span class="slider"></span>
						</label>
					</section>

					<section v-if="page === 'home'">
						<div class="flex space-between" id="searchHeader">
							<h1 class="page-title flex-1">My bookmarks</h1>
							<form action="." v-on:submit="searchSubmitHandler">
								<input
									type="search"
									v-model="query"
									placeholder="Search..."
									v-on:keydown.enter="search"
									v-on:search="clearSearch"
								/>
							</form>
						</div>
						<div class="flex">
							<div class="flex-1">
								<h3 v-if="queryTags">Tagged: <span v-html="displayTags(queryTags.split(','))"></span></h3>
							</div>
							<div v-if="sortOptions">
								<label for="sortBy" class="small">Sort by:</label>&nbsp;
								<select id="sortBy" v-model="sort" v-on:change="setSort">
									<option
										v-for="(sortOption, i) in sortOptions"
										v-bind:key="sortOption.value"
										v-bind:value="sortOption.value"
									>
										{{sortOption.label}}
									</option>
								</select>
							</div>
						</div>
						<div v-for="(bookmark, i) in bookmarks" v-bind:key="bookmark._id" class="bookmark">
							<div class="link">
								<a v-bind:href="bookmark.url" target="_blank" rel="noopener noreferrer">{{bookmark.title}}</a>
							</div>
							<div class="meta light">
								<span>{{displayDate(bookmark.createdOn)}}</span>
								<span> &middot; </span>
								<span v-if="bookmark.tags.length > 0" v-html="displayTags(bookmark.tags)"></span>
								<span v-if="bookmark.tags.length > 0"> &middot; </span>
								<a v-bind:href="'/edit?id='+bookmark._id" v-if="bookmark.createdBy.username === username">edit</a>
								<a
									href="javascript:void(0)"
									v-if="bookmark.createdBy.username !== username"
									v-on:click="removeMeFromTag(bookmark._id)"
								>
									remove
								</a>
							</div>
						</div>
						<p v-if="bookmarks.length === 0 && !loading" class="light">No bookmarks to show</p>
						<div v-if="loading" class="loader"></div>

						<button class="link bold" v-on:click="getBookmarks" v-if="showLoadMore">Load more &darr;</button>
					</section>

					<section v-if="page === 'tags'">
						<h1 class="page-title">My tags</h1>
						<div v-for="(tag, i) in tagsArray" v-bind:key="tag">
							<div class="link">
								<a v-bind:href="'/?tags='+tag.tag">{{tag.tag.substr(0, 26)}}</a>
								<span class="small light">({{tag.count}})</span>
							</div>
						</div>
						<p v-if="tagsArray.length === 0 && !loading" class="light">No tags to show</p>
						<div v-if="loading" class="loader"></div>
					</section>

					<section v-if="page === 'newBookmark'">
						<h1 class="page-title">New bookmark</h1>
						<label for="url">Enter URL</label>
						<input type="text" id="url" placeholder="Enter a URL" v-model="newBookmark.url" />

						<label for="tags">Enter tags</label>
						<input type="text" id="tags" placeholder="Enter tags" v-model="newBookmark.tags" class="hasHelperText" />
						<div class="small light helperText">Note: Only alphanumeric; Comma or space separated</div>

						<button class="bold" v-on:click="addBookmark">Add bookmark</button>
					</section>

					<section v-if="page === 'editBookmark'">
						<h1 class="page-title">Edit bookmark</h1>
						<label for="url">URL</label>
						<input type="text" id="url" placeholder="Enter a URL" v-model="updateBookmark.url" disabled />

						<label for="url">Enter title</label>
						<input type="text" id="url" placeholder="Enter a title" v-model="updateBookmark.title" />

						<label for="tags">Enter tags</label>
						<input type="text" id="tags" placeholder="Enter tags" v-model="updateBookmark.tags" class="hasHelperText" />
						<div class="small light helperText">Note: Only alphanumeric; Comma or space separated</div>

						<div class="flex">
							<div class="flex-1"><button class="bold" v-on:click="saveBookmark">Update bookmark</button></div>
							<button class="link red bold" v-on:click="deleteBookmark">Delete</button>
						</div>
					</section>

					<section v-if="page === '404'">
						<h1 class="page-title">Page not found</h1>
						<div>The page you are looking for does not exist.</div>
						<a href="/">Back to home</a>
					</section>
				</main>
			</div>
		</div>
		<footer class="small light wrap">
			<nav>
				<a href="https://github.com/vasanthv/webtag" target="_blank">Github</a>
				<span class="separator">&middot;</span>
				<a href="/bookmarklet.html" target="_blank">Bookmarklet</a>
				<span class="separator">&middot;</span>
				<a href="/terms.html" target="_blank">Terms</a>
				<span class="separator">&middot;</span>
				<a href="/privacy.html" target="_blank">Privacy</a>
			</nav>
		</footer>

		<!-- INSERT_ANALYTICS_SCRIPT -->
	</body>
</html>
